@using biz2biz.ViewModel
@if (CurrentAccount.ID>0)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
            <li>@Html.ActionLink("Opret annonce", "SelectAnnonceType", "Annonce")</li>
            </li>
            <li>
                @Html.ActionLink("Min Biz", "MyAccount", "Account")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log af</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Opret", "RegisterNewAccount", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log ind", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
