@using Kendo.Mvc.UI
@model biz2biz.ViewModel.AnnonceViewModels.AnnonceCreateViewModel

@using (Html.BeginForm("NewAnnonce", "Annonce", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken();

    <div class="divpaddings">
        @Html.LabelFor(e => e.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 editor-field">
            @Html.Kendo().TextBoxFor(e => e.Title).HtmlAttributes(new { @class = "form-control", @required = true })
        </div>
    </div>
    <div class="divpaddings">
        @Html.LabelFor(e => e.ManufacturerName, new {@class = "col-md-2 control-label"})
        <div class="col-md-10 editor-field">
            @Html.Kendo().TextBoxFor(e => e.ManufacturerName).HtmlAttributes(new {@class = "form-control", @required = true, @readonly = true })
        </div>
    </div>
    <div class="divpaddings">
        @Html.LabelFor(e => e.ProductName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 editor-field">
            @Html.Kendo().TextBoxFor(e => e.ProductName).HtmlAttributes(new { @class = "form-control", @required = true, @readonly = true })
        </div>
    </div>
    <div class="divpaddings">
        @Html.LabelFor(e => e.Description, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.Kendo().EditorFor(e => e.Description).HtmlAttributes(new {@class = "form-control", @required = true}).
        </div>
    </div>
    <div class="divpaddings">
        @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Kendo().TextBoxFor(e => e.Price).HtmlAttributes(new { @class = "form-control", @type = "number" })
        </div>
    </div>
    <div class="divpaddings ">
        @Html.LabelFor(e => e.ImageURLs, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @(Html.Kendo().Upload()
                  .Name("Images").Async(a => a
                      .Save("SaveTempImage", "Annonce")
                      .Remove("RemoveTempImage", "Annonce")
                      .AutoUpload(true)).ShowFileList(true)
            )
        </div>

    </div>
    <div class="divpaddings">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Opret" />
        </div>
    </div>
}


<script type="text/javascript">

</script>

<style>
    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }
</style>